<div class="container">
    <div class="header-left">
        <h1>Intake</h1>
        <ce-link routesegments='["survey","list"]' route-name="survey-list" auth-required>surveys</ce-link>
        <ce-link routesegments='["questions"]' route-name="questions" auth-required>questions</ce-link>
    </div>
    <div class="header-right">
        <ce-link routesegments='["login"]' class="logout" auth-required>logout</ce-link>
        <ce-link routesegments='["login"]' class="login" anonymous-required>login</ce-link>
        <ce-link routesegments='["user-settings"]' class="settings" auth-required>settings</ce-link>
        <ce-link routesegments='["register"]' class="register" anonymous-required>register</ce-link>
    </div>
</div>

